
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20%;
}
#excuse {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
/*por alguna razon no me salio el boton que queria poner, pero ya no me da tiempo repasar*/